@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpoqaHanSansNeo-Regular", "sans-serif";
}

@layer components {
  input.autofill-target:-webkit-autofill {
    @apply shadow-[0_0_0_1000px_white_inset] !important;
  }

  input.autofill-target:hover,
  input.autofill-target:-webkit-autofill:hover {
    @apply shadow-[0_0_0_1000px_#f6f6f8_inset] !important;
  }

  input.autofill-target:focus,
  input.autofill-target:-webkit-autofill:focus {
    @apply shadow-[0_0_0_1000px_#f8ecff_inset] !important;
  }
}

.input-base {
  @apply block h-56 w-full appearance-none rounded-8 border px-16 text-16-500 outline-none duration-200 hover:bg-gray-10;
}

.label-base {
  @apply absolute start-2 top-1 z-10 mx-10 h-10 origin-[0] -translate-y-9 bg-white text-13-400 duration-200;
}

.label-placeholder-shown {
  @apply pointer-events-none peer-placeholder-shown:top-1/2 peer-placeholder-shown:h-fit peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:bg-opacity-0 peer-placeholder-shown:text-16-400;
}

.label-focus {
  @apply peer-focus:top-1 peer-focus:mx-10 peer-focus:h-10 peer-focus:-translate-y-9 peer-focus:bg-white peer-focus:text-13-400;
}

.dropdown-wrapper-base {
  @apply absolute z-50 mt-3 flex flex-col gap-3 overflow-y-auto rounded-8 border border-gray-20 bg-gray-5 p-8 shadow-dropdown-wrapper;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
